<ion-header>
  <ion-toolbar>
    <ion-title>Trash Cycle</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-badge style="background-color: #c7ffa1;color: black;" item-end><span style="font-size: 1.5em">{{point?.points}}</span> <ion-icon style="font-size: 1.4em" name="leaf"></ion-icon></ion-badge>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefreshAbout($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="background-profile">
    <div class="profile-picture">
      <img src="../../assets/imgs/389590.jpg" alt="" srcset="">
      <h6>{{point?.hash}}</h6>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-12 style="font-size: 2.4rem"><ion-icon style="color: #ffbd18" name="star"></ion-icon><span> Level</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12><h4>PLASTIC GOD <span style="font-size: 1.5rem">(exp: 100/200)</span></h4></ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col col-12 style="font-size: 2.4rem"><ion-icon style="color: #ffbd18" name="star"></ion-icon><span> Record</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12><h4>208 Plastic</h4></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
