page-about {
    .toolbar-title{
        color: white;
    }
    .toolbar-background{
        background-color: #4fcb32;
    }

    .background-profile{
        background-image: url('../../assets/imgs/389590.jpg');
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .profile-picture{
        margin: 0 auto;
        margin-top: 56px;
        max-width: 30%;
        text-align: center;
        color: white;
    }

    h4{
        margin: 0;
    }
}
