<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Market"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="TrashMap"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profile"></ion-tab>
</ion-tabs>

