<!--
  Generated template for the ScanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
      <ion-buttons start>
        <button ion-button (click)="dismissScanner()">
            <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content id="camera">
  
</ion-content>
