page-contact {
    .toolbar-title{
        color: white;
    }
    .toolbar-background{
        background-color: #4fcb32;
    }
    .slides{
        height: 40%;
    }

    #filter-badge{
        display: flex;
        justify-content: center;
    }

    .voucher{
        height: 100px;
        background-size: cover;
        background-position: center;
        color: white;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        flex-direction: column;
        padding: 0 20px;
    }

}
