<ion-header>
  <ion-toolbar>
    <ion-title>Trash Cycle</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-badge style="background-color: #c7ffa1;color: black;" item-end><span style="font-size: 1.5em">{{point?.points}}</span> <ion-icon style="font-size: 1.4em" name="leaf"></ion-icon></ion-badge>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides pager>

    <ion-slide style="background-image: url('https://wordtemplatesbundle.com/wp-content/uploads/2017/07/Food-vouchers-4-REV.jpg');background-size: cover;
    background-position: center;">

    </ion-slide>

    <ion-slide style="background-image: url('https://images.examples.com/wp-content/uploads/2017/11/discount-voucher-1024x681.jpg');background-size: cover;
    background-position: center;">
      
    </ion-slide>

    <ion-slide style="background-image: url('http://nanaimo.thrivinglocally.com/media/Food-Gift-Voucher-Template.jpg');background-size: cover;
    background-position: center;">
    </ion-slide>

  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-searchbar></ion-searchbar>
      </ion-col>
      <ion-col col-6 style="align-self: center;">
        <ion-badge id="filter-badge" style="background-color: transparent;color: black;"><ion-icon style="font-size: 1.4em;" md="md-funnel"></ion-icon><span style="font-size: 1.5em"> Filter by</span> </ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngFor="let data of datas" class="voucher" [style.backgroundImage]="'url(' + data.images + ')'">
    <h6 style="text-align: right">{{data.promo}} <ion-icon style="font-size: 1.4em" name="leaf"></ion-icon></h6>
    <h4>{{data.name}}</h4>
  </div>

</ion-content>
