<ion-header>
  <ion-toolbar>
    <ion-title>Trash Cycle</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-badge style="background-color: #c7ffa1;color: black;" item-end><span style="font-size: 1.5em">{{point?.points}}</span> <ion-icon style="font-size: 1.4em" name="leaf"></ion-icon></ion-badge>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab bottom center>
    <button ion-fab (click)="scanCode()"> 
      <ion-icon name="barcode"></ion-icon>
    </button>
 </ion-fab>
  <div #map id="map" style="height: 100%"></div>
</ion-content>
