// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
::-webkit-scrollbar { display:none; }
.tabbar{
    bottom: 83% !important;
}
.scroll-content{
    margin-bottom: 0px !important;
}

.tabbar{
    background-color: #c7ffa1 !important;
}


.tabs-md .tab-button[aria-selected=true]{
    color: black !important;
    border-style: none none solid none !important;
    border-width: 4px !important;
    border-color: #4fcb32 !important;
    font-weight: bolder !important;
}